<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fix It Fast App in Angular</title>
  <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body ng-app="fixItFast" ng-controller="FixItFastController">
  <input type="text" ng-model="newTask" />
  <br/>
  {{newTask}}


  <div id="taskList">
  	<div ng-repeat="task in taskList"></div>
  		<label class="description" >
  			<input type="checkbox" ng-model="task.done"/>
  			{{task.description}}
  		</label>
  </div>


  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="controllers.js"></script>
</body>
</html>
